@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   color-scheme: dark;
   background-color: #1e1e23;
}

@media (prefers-color-scheme: light) {
   :root {
      color: #213547;
      background-color: #ffffff;
   }
}

.responsive-pre {
   white-space: pre-wrap;
   /* Membuat teks dalam <pre> membungkus secara otomatis */
   word-wrap: break-word;
   /* Menambahkan pemecahan kata jika perlu */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Toastify__toast-container--top-right {
   margin-top: 50px;
}